@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
}
body {
  padding-bottom: 80px;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

.clickable {
  cursor: pointer;
}

img.responsive {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.header-container {
  position: relative;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.photo-container {
  position: relative;
  height: 517px;
  top: -111px;
  margin-bottom: -111px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.layout-container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.header h1 {
  float: left;
  margin: 0 0 0 40px;
  line-height: 1;
}
.header img {
  margin: 28px 40px 0 0;
  float: right;
}

.hometitle {
  text-align: center;
  display: block;
  margin-top: -30px;
}

.hometitle h2 {
  line-height: 1;
  margin: 0;
}

.titlecap {
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 20px;
}

.subtitle {
  margin: 10px 0 0;
}

.homethumbs {
  margin-top: 50px;
}

.thumb {
  position: relative;
  float: left;
  display: block;
  height: 160px;
  width: 310px;
  overflow: hidden;
  margin: 4px;
  cursor: pointer !important;
}
.thumb:nth-child(3n) {
  margin-right: 0;
}

.thumbimage {
  position: absolute;
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  z-index: 3;
  cursor: pointer;
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
          filter: blur(5px);
}
.thumb:hover .thumbimage {
  cursor: pointer;
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}

.thumbwords {
  position: relative;
  display: block;
  top: 63px;
  z-index: 5;
  text-align: center;
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.headshot,
.headshotsub {
  float: right;
}
.headshot img,
.headshotsub img {
  height: 50px;
  width: auto;
  cursor: pointer;
  -webkit-clip-path: circle(50% at 50% 50%);
     -moz-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
       -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
}
.headshot:hover {
  opacity: 0.6;
}

.headshot p,
.headshotsub p {
  opacity: 0;
  cursor: pointer;
  display: inline;
  position: relative;
  font-family: Garamond, Times, Serif;
  font-weight: normal;
  font-style: oblique;
  font-size: 18px;
  color: #ccc;
  float: right;
  margin: 82px -40px 0 0;
}
.headshotsub p {
  color: #333;
}

.headshot:hover p,
.headshotsub:hover * {
  opacity: 1;
   -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
       -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
           transition: all 0.25s ease;
}

.subphoto-rarelead {
  position: absolute;
  top: -30px; bottom: -30px; left: -30px; right: -30px;
  background-size: cover;
}
.subphoto-rarelead {
  background-image: url(../images/rarelead.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.whitecard {
  position: relative;
  display: inline-block;
  background-color: #FFF;
  padding: 20px 40px;
  margin: 150px 15px;;
  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
       -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
}
.whitecard h5 {
  line-height: .9;
  margin: 5px 0 20px;
}
.slideshowing .whitecard {
  opacity: 0;
}

.slideshowing .subphoto-rarelead {
  -webkit-filter: grayscale(100%) blur(5px);
     -moz-filter: grayscale(100%) blur(5px);
          filter: grayscale(100%) blur(5px);
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  visibility: collapse;
  padding: 30px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .1);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
     -moz-transition: opacity 0.25s ease;
      -ms-transition: opacity 0.25s ease;
       -o-transition: opacity 0.25s ease;
          transition: opacity 0.25s ease;
}
.slideshowing .modal {
  visibility: visible;
  opacity: 1;
}
.modal-body {
  position: relative;
  z-index: 60;
  opacity: 0;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  -webkit-transition: opacity 0.25s ease;
     -moz-transition: opacity 0.25s ease;
      -ms-transition: opacity 0.25s ease;
       -o-transition: opacity 0.25s ease;
          transition: opacity 0.25s ease;
}
.slideshowing .modal-body {
  opacity: 1;
}
.slick-list,
.slick-slider {
  height: 100%;
}
.slick-slide .slide-left {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
     -moz-transition: opacity 0.25s ease;
      -ms-transition: opacity 0.25s ease;
       -o-transition: opacity 0.25s ease;
          transition: opacity 0.25s ease;
}
.slick-slide.slick-active .slide-left {
  opacity: .9;
}
.slick-slide img {
  margin: 0 auto;
}

.slide-left {
  float: left;
  width: 40%;
  padding: 138px 30px 30px;
  color: #fff;
  line-height: 1.2;
}
.slide-left h4 {
  color: #fff;
  line-height: 1;
  margin: 0;
}
.slide-left hr {
  margin: 1em 0;
  border: 1px solid #fff;
  border-width: 0 0 1px;
}
.slide-left p {
  padding-right: 40px;
}
.slideshow img {
  float: right;
  max-width: 60%;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  left: -50px;
  width: 45px;
  height: 45px;
  margin-top: -22px;
  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
       -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
}
.right-arrow {
  left: auto;
  right: -50px;
}
.left-arrow { background-image: url(http://eringallup.info/images2/arrow_leftart.png); }
.left-arrow:hover { background-image: url(http://eringallup.info/images2/arrow_left2art.png); }
.right-arrow { background-image: url(http://eringallup.info/images2/arrow_rightart.png); }
.right-arrow:hover { background-image: url(http://eringallup.info/images2/arrow_right2art.png); }

.body-container {
  max-width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.body-left {
  float: left;
  width: 30%;
}
.body-right {
  float: right;
  width: 60%;
}
.body-title {
  max-width: 8em;
  margin: 0 auto;
  padding: 15px 0;
  border: 1px solid #ccc;
  border-width: 1px 0;
}
.body-title * {
  color: #333;
  line-height: 1;
  margin: 0;
  text-align: center;
}
.body-title h3 {
  text-transform: uppercase;
  font-family: Garamond, Times, Serif;
}















@media (max-width: 767px) {
  .body-left,
  .body-right,
  .slide-left,
  .slideshow img {
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .slide-left {
    max-width: 50%;
    margin: 30px auto;
  }
  .slide-left p {
    padding: 0;
  }
  .body-title {
    max-width: 100%;
  }
  .body-left {
    margin: 0 15px 15px;;
  }
  .body-right {
    margin: 10px 15px;
  }
  .whitecard h4 {
    font-size: 1.7em;
  }
  .whitecard h5 {
    font-size: 3em;
  }
}
