@charset "UTF-8";

html,
body {
  color: #333;
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  font-size: 15px;
  background: #fff;
  margin: 0;
  padding: 0;
}
body {
  padding-bottom: 80px;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  color: #333;
}
h1,
h2,
h4,
h6 {
  font-family: Garamond, Times, Serif;
}
h1 {
  color: #ccc;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -5px;
}
h1 a,
h1 a:hover,
h1 a:focus,
h1 a:active,
h1 a:visited {
  color: #999;
  opacity: .6;
}
h1 a:hover {
  color: #ccc;
  text-decoration: none;
}
h2 { font-weight: normal; font-style: oblique; font-size: 6.5em; letter-spacing: 0px; }
h3 { color: #ccc; font-weight: normal; font-size: 1em; letter-spacing: 0px;}
h4 { font-weight: normal; font-style: oblique; font-size: 2em; letter-spacing: 0px;}
h5 { font-weight: bold; font-size: 4em;}
h6 { font-weight: normal; text-transform: uppercase; font-size: .85em; letter-spacing: 2px;}

p {
  margin: 0 0 .75em;
}
a {
  color: #5cb4ea;
  text-decoration: none;
}
a:hover {
  color: #5e9ec6;
  text-decoration: none;
}


h1 a,
h1 a:hover,
h1 a:focus,
h1 a:active,
h1 a:visited {
  -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
       -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
}
.headshot img,
.headshotsub img,
.headshot:hover p,
.headshotsub:hover *,
.whitecard,
.eg-modal,
.eg-modal-body {
  -webkit-transition: opacity 0.25s linear;
     -moz-transition: opacity 0.25s linear;
      -ms-transition: opacity 0.25s linear;
       -o-transition: opacity 0.25s linear;
          transition: opacity 0.25s linear;
}
.slick-slide .slide-left,
.slick-slide .slide-right,
.left-arrow,
.right-arrow {
  -webkit-transition: opacity 0.25s ease;
     -moz-transition: opacity 0.25s ease;
      -ms-transition: opacity 0.25s ease;
       -o-transition: opacity 0.25s ease;
          transition: opacity 0.25s ease;
}

.tbl { display: table; }
.tbl-cell { display: table-cell; }
.va-middle { vertical-align: middle; }
.match-width { display: block; }
.match-height { height: 100%; }

.container {
  max-width: 780px;
}
.container-wide {
  max-width: 960px;
}
.clickable {
  cursor: pointer;
}
img.responsive {
  width: auto;
  max-height: 460px;
  max-width: 100%;
}



.sub-header {
  margin: 0 0 60px;
  text-align: center;
  line-height: 1;
}
.sub-header h1,
.sub-header h2,
.sub-header h3,
.sub-header h4,
.sub-header h5,
.sub-header h6 {
  font-size: inherit;
  font-style: inherit;
  color: inherit;
  line-height: inherit;
}
.sub-header > * > * {
  margin-right: 8px;
}
.sub-header > * > :last-child {
  margin-right: 0;
}
.sub-header strong,
.sub-header span,
.sub-header em {
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
}
.sub-header strong {
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: lowercase;
}
.small-header,
.sub-header span {
  font-size: 14px;
  font-style: normal;
  position: relative;
  font-family: Garamond, Times, Serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: -.2em;
}
.small-header {
  display: block;
  top: auto;
  text-align: center;
  letter-spacing: 1px;
}
.em-header,
.sub-header em {
  font-style: italic;
  font-size: 50px;
  font-family: Garamond, Times, Serif;
  text-transform: lowercase;
}
.sub-header p {
  margin: 20px 0 0;
  font-size: 15px;
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  text-transform: lowercase;
}



.header h1 {
  line-height: 1;
  padding-left: 30px;
}
.hometitle {
  padding-top: 40px;
}
#home .hometitle .sub-header {
  margin-bottom: 0;
}
#home .hometitle em {
  font-size: 100px;
}
#home .hometitle span {
  font-size: 19px;
  top: -.8em;
  margin: 0 3px 0 5px;
}
#home .hometitle p {
  margin-top: 10px;
}



.homethumbs {
  margin-top: 40px;
}
.thumb {
  display: table;
  height: 160px;
  padding: 4px;
  cursor: pointer;
}
.thumb > div {
  position: relative;
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  height: 160px;
}
.thumbimage {
  position: absolute;
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
          filter: blur(5px);
}
.thumb:hover .thumbimage {
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.thumbwords {
  position: relative;
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}



.headshot {
  display: inline-block;
  padding-right: 30px;
  text-align: center;
}
.headshot img {
  display: block;
  height: 50px;
  width: auto;
  opacity: .4;
  margin: 28px auto 0;
}
.headshot p {
  position: relative;
  opacity: 0;
  margin: 0;
  font-family: Garamond, Times, Serif;
  font-weight: normal;
  font-style: oblique;
  font-size: 18px;
  color: #333;
}
.headshot:hover * {
  opacity: 1;
}


/* ------------- Home Layers ------------- */

.elements {
  margin-top: 60px;
}
.elements ul strong {
  display: block;
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  font-weight: bold;
  font-size: 28px;
}
.elements ul p {
  margin: 0 0 5px;
}
.elements ul li {
  position: relative;
  margin-left: 1.5em;
}
.elements ul li:before {
  content: '';
  position: absolute;
  top: 1em;
  left: -1.5em;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50px;
  background-color: #666;
}
.elements-flow:before { background-color: #e373e3 !important; }
.elements-nav:before { background-color: #a5d877 !important; }
.elements-copy:before { background-color: #76dbfd !important; }
.elements-look:before { background-color: #ffd659 !important; }



.users-first {
  margin-top: 60px;
}
.users-first .sub-header {
  margin-bottom: 60px;
}
.users-first .devices > * {
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #f1f1f1;
  border-width: 0 2px 0 0;
}
.users-first .devices > :last-child {
  border: none;
}
.users-first .icon {
  text-align: center;
  color: #e4e4e4;
  font-size: 45px;
}
.users-first h4 {
  margin-bottom: 20px;
  text-align: center;
  font-family: Garamond, Times, Serif;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
}
.users-first img {
  display: block;
  margin: 0 auto;
}
.users-first h5 {
  display: table;
  width: 100%;
  height: 4.1em;
  margin-top: 5px;
  padding: 5px;
  background-color: #333;
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.users-first h5 span {
  display: table-cell;
  vertical-align: middle;
}
.users-first .devices p {
  margin: 20px 0;
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  font-size: 15px;

}
.users-first .devices em {
  font-family: Garamond, Times, Serif;
  font-style: italic;
  font-size: 20px;
  line-height: 1;
}


.process {
  margin-top: 60px;
}


/* ------------- About Page ------------- */

#about .hometitle strong {
  font-size: 45px;
}
#about .hometitle em {
  font-size: 60px;
}
#about .left-col {
  text-align: center;
}
#about .small-header {
  margin: 40px 0 0;
}
#about .em-header {
  font-size: 35px;
}
#about .devices li {
  margin-right: 5px;
  font-size: 40px;
}
#about .devices li:last-child {
  margin-right: 0;
}
#about .logopile {
  margin-top: 20px;
}



/* ------------- Projects ------------- */

.project-page .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.project-page .header h1 a,
.project-page .header .headshot {
  position: relative;
  z-index: 60;
}
.photo-container {
  position: relative;
  min-height: 517px;
  overflow: hidden;
  text-align: center;
}
.subphoto {
  position: absolute;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.whitecard {
  position: relative;
  display: inline-block;
  background-color: #FFF;
  padding: 20px 40px;
  margin: 150px 15px;
  cursor: pointer;
}
.whitecard h5 {
  line-height: .9;
  margin: 5px 0 20px;
}
.whitecard h6 {
  background-color: #FFF;
  text-align: center;
  padding: 10px;
  max-width: 150px;
  margin: 0 auto;
  color: #666;
}
.whitecard:hover h6 {
  background-color: #F1F1F1;
  color: #333;
}

/* ------------- Slideshow ------------- */

.slideshowing .whitecard,
.slideshowing .project-page .header h1 a,
.slideshowing .project-page .header .headshot {
  opacity: 0;
}
.slideshowing .project-page .header h1 a {
  opacity: .1;
  color: #fff;
}
.slideshowing .project-page .header h1 a:hover {
  opacity: .5;
}
.slideshowing .subphoto {
  -webkit-filter: blur(6px);
     -moz-filter: blur(6px);
          filter: blur(6px);
}

.eg-modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  visibility: collapse;
  padding: 30px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
}
.slideshowing .eg-modal {
  visibility: visible;
  opacity: 1;
}
.eg-modal-body {
  position: relative;
  z-index: 60;
  opacity: 1;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}
.slideshowing .eg-modal-body {
  opacity: 1;
}
.slick-list,
.slick-slider,
.slick-track,
.slide-right {
  height: 100%;
}
body .slick-slide,
body .slick-slide.slick-active {
  opacity: 1 !important;
  -webkit-transition: none !important;
     -moz-transition: none !important;
      -ms-transition: none !important;
       -o-transition: none !important;
          transition: none !important;
}
.slick-slide .slide-left,
.slick-slide .slide-right {
  opacity: 0;
}
.slick-slide.slick-active .slide-left {
  opacity: .9;
}
.slick-slide.slick-active .slide-right {
  opacity: 1;
}

.slide-left {
  padding-top: 12%;
  color: #fff;
  line-height: 1.2;
}
.slide-pager {
  display: inline-block;
  margin-bottom: 7px;
  font-style: italic;
  color: rgba(255, 255, 255, .4);
}
.slide-left h4 {
  color: #fff;
  line-height: .75;
  margin: 0;
}
.slide-left hr {
  margin: 1em 0;
  border: 1px solid #fff;
  opacity: .6;
  border-width: 0 0 1px;
}
.slide-left p {
  padding-right: 0px;
  line-height: 28px;
}

.slide-left,
.slide-right {
  display: table;
}

.slick-slide img {
  margin: 0 auto;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  left: -50px;
  margin-top: -.6em;
  font: normal 90px arial, sans-serif;
  color: rgba(255, 255, 255, .5);
}
.right-arrow {
  left: auto;
  right: -50px;
}
.left-arrow:hover,
.right-arrow:hover {
  color: rgba(255, 255, 255, .8);
}

/* ------------- Body ------------- */

.body-container {
  margin-top: 30px;
}
.body-left {
  margin-top: 10px;
}
.body-right {
  line-height: 2em;
}
.body-right p{
  margin: 0 0 1.5em 0;
}
.body-title {
  padding: 15px 0;
  border: 1px solid #ccc;
  border-width: 1px 0;
}
.body-title * {
  color: #333;
  line-height: 1;
  margin: 0;
  text-align: center;
}
.body-title h3 {
  text-transform: uppercase;
  font-family: Garamond, Times, Serif;
  font-size: .85em;
  letter-spacing: 2px;
}


.project,
.details {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f1f1f1;
  margin-bottom: 60px;
}
.project-title,
.details-title {
  text-transform: uppercase;
  font-family: Garamond, Times, Serif;
  font-size: 14px;
  color: #999;
  font-style: normal;
  text-align: center;
  letter-spacing: 2px;
}
.project .lead,
.details .lead {
  margin: 15px 0;
  font-size: 15px;
  color: #333;
  text-align: center;
}
.project-items {
  padding: 0 20px;
  margin-top: 15px;
}
.project-item {
  padding: 30px 20px;
  border: 2px solid #fff;
  border-width: 0 2px 0 0;
}
.project-item:last-child {
  border-width: 0;
}
.project-item-top {
  display: inline-block;
  width: 100%;
  height: 130px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.project img {
  max-width: 100%;
  max-height: 100px;
}
.project img.outline {
  border: 1px solid #cfcfcf;
}
.project-item h5,
.details-item h5,
.beforeafter-item h5 {
  margin-bottom: .9em;
  font-size: 30px;
  text-transform: lowercase;
  text-align: center;
}

.details {
  background-color: transparent;
  padding: 15px 0;
  border: 1px solid #ccc;
  border-width: 1px 0;
}
.details-title {
  margin-bottom: 30px;
}
.details-item h5 {
  font-size: 15px;
  color: #ccc;
  margin-bottom: .4em;
  font-style: italic;
  letter-spacing: .03em;
}
.details-item {
  text-align: center;
}


.beforeafter {
  background-color: transparent;
  padding: 15px 0;
  border: 1px solid #ccc;
  border-width: 1px 0;
}
.beforeafter-title {
  margin-bottom: 30px;
}
.beforeafter-item h5 {
  font-size: 15px;
  color: #ccc;
  margin-bottom: .4em;
  font-style: italic;
  letter-spacing: .03em;
}
.beforeafter-item {
  text-align: center;
}


.body-right img {
  margin:20px 0 60px 0;
  border: 1px solid #cfcfcf;
}








@media (max-width: 767px) {
  .hometitle {
    padding-top: 0;
  }
  .hometitle em {
    font-size: 70px;
  }
  .hometitle span {
    font-size: 14px;
  }
  .thumb {
    width: 100%;
    padding: 0 15px 15px;
  }
  .thumbimage {
    background-size: cover;
  }

  .eg-modal {
    position: relative;
    padding-top: 0;
  }

  .slick-list,
  .slick-slider,
  .slick-track,
  .slide-right {
    height: auto;
  }
  .slide-left,
  .slide-right {
    width: 100%;
  }
  .eg-modal {
    padding-top: 120px;
  }

  .slide-left hr,
  .slide-left p {
    display: none;
  }
  .slideshowing .whitecard {
    display: none;
  }
  .whitecard h4 {
    font-size: 1.7em;
  }
  .whitecard h5 {
    font-size: 3em;
  }

  .project-item {
    border-width: 0 0 2px;
    text-align: center;
  }
  .project-item-top {
    padding-top: 0 !important;
    margin-bottom: 15px;
    height: auto;
  }
  .project-item img {
    max-width: 50%;
  }
  .body-title {
  border-width: 0 0 1px 0 ;
  margin: 0 80px;
  }
  .body-right p {
  margin: 30px 80px;
  }
  .project .lead, .details .lead {
  margin: 15px 80px;
  }
  .project-item {
  margin: 0 30px;
    }
  .project-item img.logo{
  width:50%;
    }
  .body-container img.responsive {
  width: 75%;
  margin: 0 80px;
  height: auto;
}
  .body-container img.phone {
  width: 40%;
  margin: 0 200px;
  height: auto;
}
.project, .details {
  margin: 30px 100px;
  }
}


@media (max-width: 399px) {
  .header h1 {
    padding-left: 0;
  }
  .headshot {
    padding-right: 0;
  }
}


@media (max-width: 479px) {
  .body-right p {
    margin: 30px 20px;
  }

  .body-title {
    border-width: 0 0 1px;
    margin: 0 20px;
  }
  .slick-slide.slick-active .slide-left {
    opacity: .9;
    text-align: center;
    padding-top: 30px;
  }
  .slide-left hr {
    opacity: 0;
    }
  .project .lead, .details .lead {
    margin: 15px 30px;
  }

  .body-container img.responsive {
    width: 90%;
    margin: 0 20px;
  }
  .body-container img.phone {
    width: 70%;
    margin: 0 50px;
    height: auto;
  }

  .project, .details {
    padding-bottom: 0px;
    margin-bottom: 0px;
    }

  .project .container {
    margin: 30px 80px;
    }
  .project-item {
    margin: 0 20px;
      }
  .project-item img.logo{
    width:50%;
    }
    .project, .details {
    margin: 30px 50px;
  }
}
